body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ba96cc;
    text-align: center;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 15px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 50px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  